<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" >
        <title>Elijah's Resume</title>
        <link rel="stylesheet" href="static/css/style.css">

    </head>
    <body>
        <h1 style="text-align:center"> Elijah Echekwu </h1>
        <table cellspacing="20">
            <tr>
              <td><img src="static/images/Elijah.jpg" alt="Elijah Echekwu's profile picture"></td>
              <td><h1>Elijah Echekwu</h1>
              <p><em>Founder and CTO of <strong><a href="https://www.medium.com.elijahechekwu30/">Droids Labs</a></strong>.</em></p>
              <p>I am a STEAM Educator and Backend Web Developer (Django, Flask). I ❤️ food and brew my own zobo(who says that!).</p></td>
            </tr>
        </table>

          <hr>

          <h3>Books and Teaching</h3>
          <ul>
            <li>Project Gudie- Arduio Starter Kit</li>
            <li>Basic Electronics for Beginners</li>
          </ul>

          <hr>

          <h3>Work Experience</h3>
          <table cellspacing="10">
            <thead>
              <tr>
                <th>Dates</th>
                <th>Work</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>2019 - 2021</td>
                <td>Automobile Technician (apprentice)</td>
              </tr>
              <tr>
                <td>2022 (Jan) - 2022 (Dec)</td>
                <td>STEM Tutor at Inventib App</td>
              </tr>
              <tr>
                <td>2023(Sept)- Present</td>
                <td>STEAM Tutor at the MicroInventor </td>
              </tr>
            </tbody>
          </table>
          <hr>
          <h3>Skills</h3>
          <table cellspacing="10">
            <tr>
              <td>Embedded System Development</td>
              <td>⭐️⭐️⭐️</td>
            </tr>
            <tr>
              <td>Web Development</td>
              <td>⭐️⭐️⭐️⭐️⭐️</td>
            </tr>
             <tr>
              <td>Programming</td>
              <td>⭐️⭐️⭐️⭐️⭐️</td>
            </tr>
            <tr>
              <td>Photography</td>
              <td>⭐️⭐️</td>
            </tr>
          </table>
          <hr>
          <a href="#">My Hobbies</a>
          <a href="#">Contact Me</a>
        
    </body>
</html>